*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}

.parent{
    height: 100%;
    width: 100%;
    background-color: white;
}

#child{
    height: 100px;
    width: 100%;
    /* background-color: blue; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px
}
button{
    padding: 7px 12px;
    color: black;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 15px;
}

#orange{
        padding: 7px 12px;
        color: white;
        border-radius: 50px;
        border: none;
        font-size: 15px;
        background-color: orange;

}
#child-part1 h3{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}

#child-part1 i{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 50px;
}
.parent>h1{
    font-size: 160px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
#im1{
    transform: translate(-50%, -50% rotate(-5deg));
}
#im2{
    transform: translate(-50%, -50%) rotate(-10deg);
}
#im3{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#im4{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#btm{
    position: absolute;
    bottom: 5%;
    left: 5%;
}
#botr{
    position: absolute;
    bottom: 5%;
    right: 11%;
}
#last{
    height: auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 5%;
    /* hello */
}
